{{ partial "header.html" . }}

<div class="header">
  {{ with .Site.Params.description }}
  	{{ . | safeHTML }}
  {{ end }}
</div>

<div class="subheader">
  {{ with .Site.Params.description2 }}
  	{{ . | safeHTML }}
  {{ end }}
</div>

<!--
<div class="subheader2">
  {{ with .Site.Params.description3 }}
  	{{ . | safeHTML }}
  {{ end }}
</div>
-->

<div class="section-summary">
	
	<div class="section-summary-content projects-content">
	  {{ range (where .Data.Pages "Section" "project") }}
	    {{ .Render "summary"}}
	  {{ end }}
	</div>
</div>

<div class="section-summary">
	
	<div class="section-summary-content">
		
	  {{ range (where .Data.Pages "Section" "post") }}
	    {{ .Render "summary"}}
	  {{ end }}
	</div>
</div>


<div class="section-summary">
	<div class="section-summary-content contact">
	  <a href="mailto:ivan.ferdelja@gmail.com">ivan.ferdelja@gmail.com</a>

	  	<div>
	<a target="_blank" class="social-link" href="https://www.linkedin.com/in/ivanferdelja?trk=hp-identity-name"><img src="img/linkedin.png"></a>
	
	<a target="_blank" class="social-link" href="https://github.com/iferdelja?tab=repositories"><img src="img/github.png"></a>
	
	</div>


	</div>


</div>

{{ partial "footer.html" . }}
