{{ partial "header.html" . }}

<div id="small-brand">
{{ with .Site.Params.name }}
  <a class="small-brand" href="/">{{ . | safeHTML }}</a>
{{ end }}
</div>

<div class="header">
  {{ with .Site.Params.description }}
  	{{ . | safeHTML }}
  {{ end }}
</div>

<div class="section-summary">
	<div class="section-title">Recent apps</div>
	<div class="section-summary-content projects-content">
	  {{ range (where .Data.Pages "Section" "project") }}
	    {{ .Render "summary"}}
	  {{ end }}
	</div>
</div>

<div class="section-summary">
	<div class="section-title">Recent writing</div>
	<div class="section-summary-content">
		
	  {{ range (where .Data.Pages "Section" "post") }}
	    {{ .Render "summary"}}
	  {{ end }}
	</div>
</div>


<div class="section-summary">
	<div class="section-title">Get in touch</div>
	<div class="section-summary-content contact">
	  <a href="mailto:ivan.ferdelja@gmail.com">ivan.ferdelja@gmail.com</a>

	  	<div>
	<a target="_blank" class="social-link" href="https://www.linkedin.com/in/ivanferdelja?trk=hp-identity-name"><img src="img/linkedin.png"></a>
	</div>

	</div>


</div>

{{ partial "footer.html" . }}
